{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "no-undef": "error",
    "no-shadow": "error",
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-no-undef": 1
  }
}
